build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
install_manifest.txt
.cache
# === IDE files ===

# CLion
.idea/
*.iml

# VSCode
.vscode/
.vscode/*
!.vscode/settings.json  # keep project settings if needed

# Visual Studio
*.sdf
*.opensdf
*.suo
*.user
*.vcxproj.*
*.vcproj.*
*.ncb
*.pdb
*.ipch

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
